
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #0a0a0a;
    height: 100vh;
    width: 100vw;
}


#container , #container2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#container {
    /*will-change: transform;
    /*transform-origin: center;*/

    /*translate(70vw, 0); /*para que x,y seja 0,0*/ 
    transition: transform 0.1s ease-out;
}

#container2 {
    /*will-change: transform;
    /*transform-origin: center;*/

    /*translate(30vw,100vh); /*para que x,y seja 0,0*/ /*100vw-(70vw)*/  
    transition: transform 0.1s ease-out;
}

/*.item {
    width: 300px;
    height: 300px;
    background: white;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 32px;
    color: red;
    float: left;
}

.item2 {
    width: 300px;
    height: 300px;
    background: greenyellow;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 32px;
    color: black;
    float: left;
}*/

.item , .item2{
    width: 300px;
    height: auto;
    display: block;
   /*align-items: center;
    /*float: left;*/
    background-color: red;
}

.instructions {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    color: white;
    z-index: 10;
    text-align: center;
}