* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

main{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 20vw;
    grid-template-areas:
        "button"
        "title";
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: rotate(-45deg);
}

#buttons{
    bottom: 0;
    grid-area: button;
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 10vw;
    grid-template-areas:"sobre conto";
}
.button{
    font-weight: 100;
    font-size: small;
    text-decoration: none;
    color: black;
}

#sobre{
    grid-area: sobre;
}
#conto{
    grid-area: conto;
}

#title{
    top: 0;
    grid-area: title;
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-areas:
        "first_line"
        "second_line";
}
.title{
    font-size: larger;
     font-weight: 400;
}

#first_line{
    grid-area: first_line;
}
#second_line{
    grid-area: second_line;
}
