
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #0a0a0a;
    height: 100vh;
    width: 100vw;
}


#container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) translate(70vw, 0);/*move 50% da propria largura e altura*/
    /*will-change: transform;
    /*transform-origin: center;*/ 
    transition: transform 0.1s ease-out;
}

#container2 {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) translate(30vw,100vh); /*100vw-(70vw)*/ /*move 50% da propria largura e altura*/
    /*will-change: transform;
    /*transform-origin: center;*/  
    transition: transform 0.1s ease-out;
}

/*.item {
    width: 300px;
    height: 300px;
    background: white;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 32px;
    color: red;
    float: left;
}
*/

.item , .item2{
    width: 300px;
    height: auto;
    display: block;
    align-items: center;
    /*float: left;
    background-color: red;*/
}



.instructions {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    color: white;
    z-index: 10;
    text-align: center;
}