body
{
    /* Altura aumentada para permitir múltiplos "segmentos" de scroll. */
    height: 6000px;
    margin: 0; /* Boas práticas */
}

#wrapper
{
    width: 100%;
    height: 100%;
    position: fixed;
    border: 2px solid navy;
    overflow:hidden;
    z-index: 100; /* Z-index para o wrapper */
}

/* Estilos genéricos para os elementos A (canto superior esquerdo) */
.img-a {
    position:absolute;
    z-index: 101; /* Garante que a imagem fica por cima do wrapper */
    
    width: 500px; 
    height: 500px; 
    top: 0;
    left: 0;

    object-fit: contain; 
    
    display: none; 
}

/* Estilos genéricos para os elementos B (canto inferior direito) */
.img-b
{
    position: absolute;
    z-index: 101; /* Garante que a imagem fica por cima do wrapper */
    
    width: 500px;
    height: 500px; 
    bottom: 0px;
    right: 0px;
    
    object-fit: contain;    
    
    display: none;
}