* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

main{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 8vw;
    grid-template-areas:
        "buttons"
        "content";
    justify-content: center;
    height: 100%;
    transform: translate(-12vw,0vw) rotate(-45deg);
}

#content{
    grid-area: content;
    display: grid;
    row-gap: 7vw;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
        "text"
        "info";
}

#text{
    grid-area: text;
    display: grid;
    row-gap: 4vw;
    grid-template-rows: repeat(2,auto);
}

#concept{
    display: grid;
    row-gap: 1vw;
    grid-template-rows: repeat(2,auto);
}

#info{
    grid-area: info;
    display: grid;
    grid-template-rows: repeat(3,auto);
    row-gap: 1vw;
}
#info2{
    margin-left: 4.5vw;
}
#info3{
    margin-left: 11vw;
}

#rect1{
    position: absolute;
    background-color:#B2B2B2;
    z-index: -10;
    width: 50%;
    height: 500%;
    transform: translate(95vw,-84vw) rotate(-45deg);
    box-shadow: 0 40px 40px 0 rgba(29, 55, 85, 0.50);
}
#rect2{
    position: absolute;
    background-color:#B2B2B2;
    z-index: -10;
    width: 50%;
    height: 500%;
    transform: translate(2vw,-84vw) rotate(-45deg);
    box-shadow: 0 -40px 40px 0 rgba(29, 55, 85, 0.50);
}
#bg_img{
    /*position: fixed;
    top: 50%;
    left: 50%;*/
    position: absolute;
    height: 120%;
    width: auto;
    z-index: -20;
    opacity: 0.3;
    transform:rotate(-45deg);
}