* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

main{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 10vw;
    grid-template-areas:
        "button"
        "title";
    justify-content: center;
    height: 100%;
    transform: translate(-20vw,-5vw) rotate(-45deg);
}

#buttons{
    bottom: 0;
    grid-area: button;
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 10vw;
    grid-template-areas:"sobre conto";
    transition: transform 0.1s ease-out;
    align-items: end;
}
.button{
    font-weight: 0.8rem;
    font-size: small;
    text-decoration: none;
    color: black;
}

#sobre{
    grid-area: sobre;
}
#conto{
    grid-area: conto;
}

#title{
    top: 0;
    grid-area: title;
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 5vw;
    grid-template-areas:
        "first_line"
        "second_line";
    transition: transform 0.1s ease-out;
    height: auto;
}
.title{
    font-size: 2rem;
    font-weight: 400;
}

#first_line{
    grid-area: first_line;
    line-height: 1;
    display: block;
}
#second_line{
    grid-area: second_line;
    line-height: 1;
    display: block;
}
