.html, body{
    margin:0;
    padding:0;
    height:100%;
}

.A{
    display:flex;
    color:brown;
    position:fixed;
    top:400px;
}

.B{
    display:flex;
    /*border:1px solid black;*/
    justify-content: center;
    margin-top:1000px;
}

.C{
    display:flex;
    margin-top:1000px;
}